html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
*,*:before,*:after{
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
}
a{
    text-decoration:none;
}
html{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:800;
}
#home{
    background:url(이미지/home_bg.jpg);
    width:100%;
    height:100vh;
}
#about{
    background:rgba(245,245,245,1);
    width:100%;
}
#skill{
    background:rgba(60,60,60,1);
    width:100%;
}
#portfolio  {
    background:rgba(240,240,240,1);
    width:100%;
    padding:0 0 50px 0;
}



/* -------------- 스크롤바 -------------- */
::-webkit-scrollbar{
    display:none;
}




/* -------------- header -------------- */
header{
    display:none;
    width:100%;
    height:60px;
    background:rgba(20,20,20,1);
    position:fixed;
    z-index:110;
}
header > h1{
    position:fixed;
    font-size:36px;
    left:50%;
    top:26px;
    transform:translate(-50% , -50%);
    color:rgba(255,255,255,1);
}
.menubox{
    display:none;
    position:fixed;
    right:0;
    margin:10px 5px;
    z-index:105;
}
#menubox_1{
    display:none;
}
#menubox_1 + label{
    display:block;
    width:50px;
    height:40px;
    position:relative;
    cursor:pointer;
}
#menubox_1 + label span{
    display: block;
    position: absolute;
    width:100%;
    height:5px;
    border-radius: 30px;
    background:rgba(255,255,255,1);
    transition:all 0.3s;
}
#menubox_1 + label span:nth-child(1){
    top:0;
}
#menubox_1 + label span:nth-child(2){
    top:50%;
    transform:translateY(-50%);
}
#menubox_1 + label span:nth-child(3){
    bottom:0;
}



#menubox_1:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
#menubox_1:checked + label span:nth-child(2){
    opacity: 0;
}
#menubox_1:checked + label span:nth-child(3){
    bottom:50%;
    transform:translateY(50%) rotate(-45deg);
}




.menubar{
    display:none;
    position: fixed;
    top:-190px;
    width:100%;
    height:200px;
    background:rgba(20,20,20, 1);
    z-index:100;
    transition:top 0.3s;
}
.menubar > ul{
    width:100%;
    height:100%;
}
.menubar > ul > li{
    font-family: 'Noto Sans KR', sans-serif;
    height:25%;
    margin:0 15px;
    color:rgba(255,255,255,1);
    text-align: center;
    font-weight:600;
    line-height:50px;
    cursor: pointer;
}
.menubar > ul > li:hover{
    background:rgb(80,80,80, 1);
}



/* -------------- nav -------------- */
nav{
    width:30px;
    height:150px;
    text-align:center;
    position:fixed;
    top:50%;
    right:5px;
    transform:translate(-50%, -50%);
    display:flex;
    z-index:5;
}
.submenu{
    width:30px;
    margin:5px 0;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-around;
    align-items:center;
}
.submenu > li{
    width:12px;
    height:12px;
    margin:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.submenu > li > div{
    width:8px;
    height:8px;
    border-radius:10px;
    background:rgba(104, 104, 104, 1);
    transition:background 0.5s;
}
.submenu > li > p{
    font-family: 'Noto Sans KR', sans-serif;
    white-space:nowrap;
    display:none;
    font-size:14px;
    font-weight:600;
    color:rgba(80,80,80,1);
}
.submenu > li:nth-child(1) > p{
    position:absolute;
    right:32px;
    top:12px;
}
.submenu > li:nth-child(2) > p{
    position:absolute;
    right:32px;
    top:47px;
}
.submenu > li:nth-child(3) > p{
    position:absolute;
    right:32px;
    top:84px;
}
.submenu > li:nth-child(4) > p{
    position:absolute;
    right:32px;
    top:118px;
}








/* -------------- home -------------- */
.home_main{
    font-family: 'Noto Sans KR', sans-serif;
    color:rgba(255,255,255,1);
    font-size:80px;
    font-weight:400;
    text-align:center;
    position:relative;
    opacity:0;
    transition:opacity 2s , top 1.5s;
    left:50%;
    top:53%;
    transform:translate(-50%, -50%);
}
.home_sub{
    font-family: 'Noto Sans KR', sans-serif;
    color:rgba(255,255,255,1);
    font-size:24px;
    font-weight:500;
    text-align:center;
    position:relative;
    /* opacity:0; */
    transition:opacity 2s , top 1.5s;
    left:50%;
    top:35%;
    transform:translate(-50%, -50%);
}

.sub1 ,
.sub2 ,
.sub3 ,
.sub4{
    color:rgba(255,255,255,1);
    font-size:40px;
    padding:10px;
    opacity:0;
    transition:opacity 1.5s;
}
.sub1{
    position:fixed;
    top:0;
    left:0;
}
.sub2{
    transform:rotate(90deg);
    position:fixed;
    top:70px;
    right:-65px;
}
.sub3{
    transform:rotate(-90deg);
    position:fixed;
    bottom:50px;
    left:-50px;
}
.sub4{
    position:fixed;
    bottom:0;
    right:5px;
}



.face{
    width:120px;
    height:120px;
    border:solid 5px rgba(255,255,255,1);
    border-radius:5px;
    position:relative;
    left:50%;
    top:55%;
    opacity:0;
    transition:opacity 1s;
    transform:translate(-50%, -50%);
}
.face > div:nth-child(1){
    position:absolute;
    left:25px;
    top:25px;
    width:15px;
    height:15px;
    background:rgba(255,255,255,1);
    border-radius:50px;
}
.face > div:nth-child(2){
    position:absolute;
    left:25px;
    bottom:25px;
    width:15px;
    height:15px;
    background:rgba(255,255,255,1);
    border-radius:50px;
}
.face > div:nth-child(3){
    position:absolute;
    top:47.5px;
    right:10px;
    width:45px;
    height:20px;
    border:5px solid rgba(255,255,255,1);
    border-radius:0 0 0 0;
    border-bottom:0px;
    border-right:0px;
    border-left:0px;
    transform:rotate(90deg);
}
.face:hover{
    cursor: pointer;
}
.face:hover > div:nth-child(3){
    position:absolute;
    top:47.5px;
    right:10px;
    width:45px;
    height:20px;
    border:5px solid rgba(255,255,255,1);
    border-radius:40px 40px 0 0;
    border-bottom:0px;
    transform:rotate(90deg);
}




/* -------------- about me -------------- */
.about_main{
    color:rgb(0,0,0,1);
    position:relative;
    top:30px;
    font-size:50px;
    text-align:center;
    padding:40px;
    opacity:0;
    transition:opacity 1.5s , top 1.2s;
}
.profile{
    width:80%;
    margin:0 auto;
    display:flex;
}
.profile > div:nth-child(1) ,
.profile > div:nth-child(2){
    width:50%;
    margin:50px 0;  
}
.face_img{
    width:300px;
    position:relative;
    left:50%;
    top:43%;
    transform:translate(-50%, -50%);
}
.face_img > img{
    width:100%;
    opacity:0;
    transition:opacity 1.5s;
}



.sub_profile ,
.license{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    margin:0 0 50px 0;
}
.list_total > h1{
    margin:0 0 15px 0;
    font-size:40px;
    font-weight:500;
    opacity:0;
    position:relative;
    top:-30px;
    transition:opacity 1.2s 0.5s , top 1.2s 0.5s;
}
.list_total > p{
    margin:0 0 8px 0;
}
.list_total > p > b ,
.list_total > p > span{
    font-size:16px;
    opacity:0;
    position:relative;
    left:-30px;
    transition:opacity 1.2s 0.5s , left 1.2s 0.5s;
}
.list_total > p > b{
    display:inline-block;
    width:70px;
    margin:0 50px 0 0;
}







/* -------------- My skill -------------- */
.skill_main{
    color:rgba(255,255,255,1);
    font-size:50px;
    text-align:center;
    padding:40px;
    position: relative;
    top:30px;
    opacity:0;
    transition:opacity 1.5s , top 1s;
}
.sub_skill{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
}
.skill_left{
    width:50%;
}
.skill_right{
    width:50%;
}
.skill_left > ul > li ,
.skill_right > ul > li{
    display:flex;
    margin:50px 100px 50px 20px;
}
.skill_img ,
.skill_gauge{
    position: relative;
    opacity:0;
    top:50px;
    transition:all 1s 0.2s;
}




.skill_img{
    flex-basis:20%;
    text-align: center;
}
.skill_img > img{
    width:70px;
}



.skill_gauge{
    flex-basis:70%;
    margin:20px;
    display:flex;
    align-items:center;
}
.skill_gauge_all{
    width:100%;
    height:30px;
    background:rgba(255,255,255,1);
    border-radius:50px;
}
.skill_gauge_total{
    height:30px;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px;
}
.skill_gauge_1{
    width:90%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(220,74,30,1);
}
.skill_gauge_2{
    width:85%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(24,118,182,1);
}
.skill_gauge_3{
    width:70%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(248,200,53,1);
}
.skill_gauge_4{
    width:65%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(8,104,172,1);
}
.skill_gauge_5{
    width:85%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(44,164,204,1);
}
.skill_gauge_6{
    width:80%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(241,103,44,1);
}
.skill_gauge_7{
    width:90%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(114,49,208,1);
}
.skill_gauge_8{
    width:95%;
    transform:scaleX(0);
    transform-origin:left;
    transition:transform 1s 1.2s;
    background:rgba(187,49,208,1);
}





.skill_percent{
    flex-basis:10%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    opacity:0;
    transition:opacity 1s 1.2s;
}
.skill_percent > div{
    color:rgba(255,255,255,1);
    font-size:28px;
    margin:0 0 0 10px;
}
.skill_percent > span{
    color:rgba(255,255,255,1);
    font-size:28px;
}











/* -------------- Portfolio -------------- */
.portfolio_main{
    color:rgba(0,0,0,1);
    font-size:50px;
    text-align:center;
    padding:40px;
    /* background:rgba(255,255,255,1); */
}
.portfolio_menu{
    padding:20px 0 20px 0;
}
.portfolio_menu > ul{
    display:flex;
    justify-content:center;
}
.portfolio_menu > ul > li{
    font-size:14px;
    color:rgba(240,240,240,1);
    background:rgba(30,30,30,1);
    border-radius:50px;
    padding:10px 15px;
    margin:0 7px;
    cursor: pointer;
    transition:background 0.3s;
    /* box-shadow:3px 3px 3px rgba(50,50,50,1); */
}
.portfolio_menu > ul > li:hover{
    background:rgba(60,60,60,1);
}
.portfolio_sub{
    font-family: 'Noto Sans KR', sans-serif;
    color:rgba(0,0,0,1);
    font-size:50px;
    font-weight:500;
    text-align: center;
    margin:0 100px 0 100px;
    padding:50px 0 25px 0;
    border-bottom:2px solid rgba(0,0,0,1);
}

.portfolio_box{
    display:flex;
    justify-content:center;
}
.sub_portfolio{
    font-family: 'Noto Sans KR', sans-serif;
    width:100%;
    display:flex;
    justify-content:center;
}
.left{
    flex-basis:50%;
    margin:80px 100px;
}
.left > img{
    width:90%;
    display:block;
    margin:0 auto;
}
.portfolio_video {position:relative; padding-bottom:56.25%; height:0; overflow:hidden;}
.portfolio_video iframe,.video-container object,.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}
.right{
    /* width:700px; */
    flex-basis:50%;
    margin:80px 30px;
}
.right > h1{
    font-size:40px;
    font-weight:600;
    margin:50px 0 30px;
}
.make_day > h2,
.make_program > h2{
    display:inline-block;
    font-size:20px;
    font-weight:400;
}
.make_day > h2:nth-child(2),
.make_program > h2:nth-child(2){
    margin:0 10px 0 0;
}
.make_day > span,
.make_program > span{
    font-size:18px;
    font-weight:700;
}
.make_program > span::after{
    content:" / ";
}
.make_program > span:last-child::after{
    display: none;
}
.right > h3{
    font-size:28px;
    font-weight:600;
    margin:40px 0 15px;
}
.right > ul > li{
    font-size:18px;
    font-weight:400;
    list-style:disc;
}
.button{
    margin:60px 45px 0px;
}
.button > button{
    width:200px;
    height:50px;
    color:rgba(255,255,255,1);
    background:rgba(30,30,30,1);
    display:block;
    cursor: pointer;
    margin:0;
    padding:0;
}
.button > button > a{
    color:rgba(255,255,255,1);
    display:block;
    width:200px;
    height:50px;
    line-height:50px;
    box-sizing:border-box;
}



/* -------------- button_top-------------- */

#top_button{
    display:none;
    position:fixed;
    right:50px;
    bottom:50px;
    width:50px;
    height:50px;
    border-radius:50px;
    cursor:pointer;
    background:url(이미지/top_button.svg);
    box-shadow:0px 5px 5px rgba(50,50,50,1);
}




/* -------------- fotter-------------- */
.sub_footer{
    width:100%;
    height:250px;
    background:rgba(30,30,30,1);
}
.phone ,
.email{
    color:rgba(255,255,255,1);
    font-family: 'Noto Sans KR', sans-serif;
    font-size:18px;
    font-weight:500;
    text-align: center;
}
.phone{
    padding:50px 0 0 0;
}
.email{
    padding:20px 0 0 0;
    font-size:24px;
}
.phone > b ,
.email > b{
    margin:0 5px 0 0;
}








