
/* -------------- about me -------------- */
#about{
    height:150vh;
}
.profile{
    flex-flow:column;
}
.profile > div:nth-child(1){
    position:relative;
    top:-40px;
    left:25%;
}
.profile > div:nth-child(2){
    position:relative;
    top:-120px;
    left:25%;
}

/* -------------- skill -------------- */
#skill{
    height:280vh;
}
.skill_list{
    flex-flow:row wrap;
}

/* -------------- skill -------------- */

#portfolio{
    height:140vh;
}
.sub_portfolio{
    flex-flow:column;
}
.sub_portfolio > .left{
    position:relative;
    left:10%;
}
.sub_portfolio > .left > img{
    width:300px;
}
.sub_portfolio > .right{
    position:relative;
    left:10%;
}


