/* -------------- portfolio -------------- */
.sub_portfolio{
    flex-flow:column;
}

.left > img{
    width:50%;
}
.right{
    margin:0px 100px;
}
.right > h1{
    margin:0 0 30px;
}
.right > h1 ,
.make_day,
.right > h3 ,
.right > ul > li{
    text-align:center;
    list-style:none;
}
.button{
    display:flex;
    justify-content:center;
}






