/* -------------- My skill -------------- */
.sub_skill{
    flex-flow:column;
    align-items:center;
}
.skill_left ,
.skill_right{
    width:80%;
}
.skill_left > ul > li ,
.skill_right > ul > li{
    margin:50px 20px;
}
.skill_left > ul > li:nth-child(4){
    margin:50px 20px 25px 20px;
}
.skill_right > ul > li:nth-child(1){
    margin:25px 20px 50px 20px;
}



/* -------------- portfolio -------------- */
.right{
    margin:0 10px;
}
.left{
    margin:30px 100px;
}
.left > img{
    width:70%;
}






